WoW-DatabaseEditor/bin/Debug/ClassLibMySqlConnectionManager.dll
WoW-DatabaseEditor/bin/Debug/ClassLibMySqlConnectionManager.pdb
WoW-DatabaseEditor/bin/Debug/ClassLibMySqlConnectionManager.xml
WoW-DatabaseEditor/bin/Debug/ClassLibWoWCreatureItem.dll
WoW-DatabaseEditor/bin/Debug/ClassLibWoWCreatureItem.pdb
WoW-DatabaseEditor/bin/Debug/ClassLibWoWCreatureItem.xml
WoW-DatabaseEditor/bin/Debug/ClassLibWoWDatabaseManager.dll
WoW-DatabaseEditor/bin/Debug/ClassLibWoWDatabaseManager.pdb
WoW-DatabaseEditor/bin/Debug/ClassLibWoWDatabaseManager.xml
WoW-DatabaseEditor/bin/Debug/conf/MySqlConnectionManager.xml.bin
WoW-DatabaseEditor/bin/Debug/conf/WoWDatabaseManager.xml.bin
WoW-DatabaseEditor/bin/Debug/MySql.Data.dll
WoW-DatabaseEditor/bin/Debug/WoW-DatabaseEditor.exe
WoW-DatabaseEditor/bin/Debug/WoW-DatabaseEditor.exe.config
WoW-DatabaseEditor/bin/Debug/WoW-DatabaseEditor.pdb
WoW-DatabaseEditor/bin/Debug/WoW-DatabaseEditor.xml
WoW-DatabaseEditor/obj/Debug/DesignTimeResolveAssemblyReferences.cache
WoW-DatabaseEditor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WoW-DatabaseEditor/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
WoW-DatabaseEditor/obj/Debug/WoW_DatabaseEditor.FormMain.resources
WoW-DatabaseEditor/obj/Debug/WoW_DatabaseEditor.Resources.resources
WoW-DatabaseEditor/obj/Debug/WoW-DatabaseEditor.exe
WoW-DatabaseEditor/obj/Debug/WoW-DatabaseEditor.pdb
WoW-DatabaseEditor/obj/Debug/WoW-DatabaseEditor.vbproj.CopyComplete
WoW-DatabaseEditor/obj/Debug/WoW-DatabaseEditor.vbproj.CoreCompileInputs.cache
WoW-DatabaseEditor/obj/Debug/WoW-DatabaseEditor.vbproj.FileListAbsolute.txt
WoW-DatabaseEditor/obj/Debug/WoW-DatabaseEditor.vbproj.GenerateResource.Cache
WoW-DatabaseEditor/obj/Debug/WoW-DatabaseEditor.vbprojResolveAssemblyReference.cache
WoW-DatabaseEditor/obj/Debug/WoW-DatabaseEditor.xml
.vs/WoW-DatabaseEditor/v15/.suo
.vs/WoW-DatabaseEditor/v15/Server/sqlite3/db.lock
.vs/WoW-DatabaseEditor/v15/Server/sqlite3/storage.ide
.vs/WoW-DatabaseEditor/v15/Server/sqlite3/storage.ide-shm
.vs/WoW-DatabaseEditor/v15/Server/sqlite3/storage.ide-wal
